{% extends 'home/main.html' %}
{% load i18n %}
{% block content %}
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">{% trans "Dashboard" %}</h1>
                        <p>{{ request.user.email }}</p>
                        {% for u in userinfo %}
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">{{ u.first_name }} {{ u.last_name }}</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">{% trans "Monthly Pay" %}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">{{ u.monthly_pay }}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">{% trans "Role" %}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">{{ u.role }}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">{% trans "Phone Number" %}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">{{ u.phone }}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">{% trans "Rate Per Hour" %}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">{{ u.rate_per_hour }}</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        {% trans "Duration" %}
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-3" >
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <a href="{% url 'message' %}">{% trans "Message" %}</a>
                                    </div>
                                    <div class="card-body" height="40"> <div>
                                        <table  class="table table-hover">
                                            {% for i in message_list %}
                                            <tr>
                                                <td scope="row">{{ i.date_created|date:"M d" }}</td>
                                                <td>{{ i.message|truncatewords:20 }}</td>
                                                <td>{{ i.acknowledge|truncatewords:20 }}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">{% trans "Please Create or Update profile from settings." %}<a href="{% url 'profile' %}">{% trans "Settings" %}</a></li>
                        </ol>
                    </div>
                </main>
{% endblock %}