{% extends 'home/main.html' %}
{% load i18n %}
{% block content %}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">{% trans "Employee" %}</h1>

</div>
<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                      <th>{% trans 'Name' %}</th>
                      <th>{% trans 'Username' %}</th>
                      <th>{% trans 'Email'%}</th>
                      <th>{% trans 'Phone'%}</th>
                      <th>{% trans 'Role'%}</th>
                      <th>{% trans 'Actions'%}</th>
                
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    {% for employee in employees %}
                    <tr>
                      <td>{{ employee.first_name }} {{ employee.last_name }} </td>
                      <th>{{ employee.user }}</th>
                      <td>{{ employee.email  }}</td>
                      <td>{{ employee.phone }}</td>
                      <td>{{ employee.role }}</td>
                      <td>
                        <style>
                          .link_button {
                            background-color: #1c87c9;
                            border: none;
                            color: white;
                            padding: 10px 10px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 14px;
                            margin: 4px 2px;
                            cursor: pointer;
                          }
                        </style>
                          <a href="{% url 'profile_details' employee.id %}" class="link_button">{% trans 'See All Details' %}</a>
                          <a href="{% url 'staff_report' employee.id %}" class="link_button">{% trans 'GetReport' %}</a>

                        
                      </td>
                    </tr>
                
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
<script>
  $(document).ready(function (){
       var table = $('#dataTable').DataTable({
           aoColumnDefs: [
               {"aTargets": [0], "bSortable": true},
               {"aTargets": [2], "asSorting": ["asc"], "bSortable": true},
           ],
           "language": {
               "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
           }
       })

  }
           );    
   </script>
</main>
{% endblock %}


