{% extends 'home/main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<body>

    <div class="container" style="margin: 2%;">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">{% trans "Company Details" %}</h1>
                    <div class="btn-toolbar mb-2 mb-md-0" id="edit_button">
                        <button type="submit" onclick="edit_profile()" ame="btnAddMore" name="create" value="create"
                            class="btn btn-info">
                            <span data-feather="edit"></span> {% trans "Edit Company Details"%}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <!-- Info Display Section -->
                    <div class="col-lg-12 col-md-8 col-sm-12" id="company_info">
                        <div class="card bg-light">
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Name" %}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ company.company_name }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Company address" %}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ company.company_address }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Company email" %}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ company.company_email }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Logo" %}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="text-align: left;">
                                                {% if company.company_logo %}
                                                <img src="{{ company.company_logo.url }}" class="img-responsive" width="100"
                                                    height="100" style="border-radius: 0%;" />
                                                {%else%}
                                                -
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Phone" %}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{company.company_contact}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Change Info Section -->
                    <div class="col-12" id="change_info">
                        <div class="row"="change_infoid_dr">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}
                                <button type="reset" class="btn btn-block btn-danger" name="cancel"
                                    onclick="window.location.reload();">{% trans "Cancel" %}</button>
                                <button type="submit" class="btn btn-block btn-success" name="update">{% trans "Save Changes" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#change_info').hide();

        function edit_profile() {
            $("#edit_button").hide();
            $("#company_info").hide();
            $("#company_pp").hide();
            $('#change_info').show();
        }
    </script>

</body>

{% endblock %}