{% extends 'home/main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<body>

    <div class="container" style="margin: 2%;">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{profile.user}} {% trans "Employee Details"%} </h1>
                    <p class="small">{{profile.email}}</p>
                    
                </div>
                <div class="card bg-light"> 
                    <strong>{% trans "Employee"%} {{ profile.first_name}} {{ profile.last_name}} {% trans "user account and profile would be deleted. Are you sure?" %} </strong>
                </div>
                <br>
                <div class="row">
                    
                    
                    <!-- Profile Picture Section -->
                    <div class="col-lg-5 col-md-4 col-sm-12 align-items-center">
                        <div class="card bg-light">
                            <form method="POST" action="{% url "delete_employee" profile.id %}">
                                {% csrf_token %}
                                <button class="btn btn-block btn-danger">{% trans "Yes, Delete it" %}</button>
                            </form>
                            
                                
                            
                        </div>
                    </div>
                    <!-- Info Display Section -->
                    <div class="col-lg-5 col-md-8 col-sm-12" id="user_info">
                        <div class="card bg-light">
                            <form method="POST" action="{% url "all_user_profiles" %}">
                            {% csrf_token %}
                            <button class="btn btn-block btn-success">{% trans "No" %}</button>
                            </div>
                        </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Change Info Section -->
                    
                    
                </div>
            </div>

</body>

{% endblock %}