{% extends 'loginmanager/main.html' %}
{%load i18n %}
{% block content %}

<main>
    {% get_current_language as LANGUAGE_CODE %}
<!--    {{ LANGUAGE_CODE }}-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <form method="post" action="{% url 'set_language' %}">
                            {% csrf_token %}
                            <input type="hidden" name="text" value="{{ redirect_to }}">
                            <select name="language" id="" onchange="this.form.submit()">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                                {% endfor %}
                            </select>
<!--                            <input type="submit" value="Go">-->
                        </form>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-5">{% trans "Reset Password" %}</legend>
                               <!--  {{ form }} -->
                               <table>
                                <tr><td><label class="small mb-1">{% trans "Type Password" %} : </label></td>
                                <td>{{ form.new_password1 }}</td></tr>
                                <tr><td><label class="small mb-1">{% trans "Password again" %}: </label></td>
                                <td>{{ form.new_password2 }}</td></tr>
                            </table>
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">
                                    {% trans "Reset Password" %}
                                </button>
                            </div>
                        </form>
                        <div class='small'> <a href="{% url 'loginmanager-login' %}">{% trans "Login" %}</a> </div>
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}