{% extends 'home/main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<body>

    <div class="container" style="margin: 2%;">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <!-- Info Display Section -->
                    <div class="col-lg-10 col-md-8 col-sm-12" id="user_info">
                        <div class="card bg-light">
                            <div class="card-body">
                                <div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "CheckIn Time"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{timecard.checkin_time}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "CheckIn Message"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{timecard.checkin_message}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "CheckOut Time"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{timecard.checkout_time}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "CheckOut Message"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{timecard.checkout_message}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Duration"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ timecard.checkout_time|timeuntil:timecard.checkin_time }}</p>
                                        </div>
                                    </div>



                                    
                                    
                                    <div class="btn-toolbar mb-2 mb-md-0" id="edit_button">
                                        <button type="submit" onclick="edit_profile()" name="create" value="create"
                                            class="btn btn-info">
                                            <span data-feather="edit"></span> {% trans "Update Information"%}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Change Info Section -->
                    <div class="col-12" id="change_info">
                        <div class="row"="change_infoid_dr">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form|crispy}}
                                <button type="reset" class="btn btn-block btn-danger" name="cancel"
                                    onclick="window.location.reload();">{% trans "Cancel" %}</button>
                                <button type="submit" class="btn btn-block btn-success" name="update">{% trans "Save Changes" %}</button>
                            </form>

                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#change_info').hide();

        function edit_profile() {
            $("#edit_button").hide();
            $("#user_info").hide();
            $('#change_info').show();
        }
    </script>

</body>

{% endblock %}