{% extends 'home/main.html' %}
{% load i18n %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">{% trans "Reports" %}</h1>
    </div>
    <div class="card mb-4">
        <div class="card-header container-fluid">
            {% trans "Reports" %} {{ employee.user }}
            <form method="get">
                {% trans "Select Date"%} {{reportFilter.form}} 

            <button class="btn btn-primary" type="submit" >{% trans "Search" %}</button>
            <button type="submit" class="btn btn-success float-right" name="download">{% trans "Download"%}</button>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0" data-locale="ja-JP">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "CheckIn Time" %}</th>
                        <th>{% trans "CheckIn Message" %}</th>
                        <th>{% trans "CheckOut Time" %}</th>
                        <th>{% trans "CheckOut Message" %}</th>
                        <th>{% trans "Duration" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in records %}
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ r.checkin_time }}</td>
                        <td>{{ r.checkin_message }}</td>
                        <td>{{ r.checkout_time }}</td>
                        <td>{{ r.checkout_message }}</td>
                        <td>{{ r.checkout_time|timeuntil:r.checkin_time }}</td>
                        <td><style>
                            .link_button {
                              background-color: #1c87c9;
                              border: none;
                              color: white;
                              padding: 10px 17px;
                              text-align: center;
                              text-decoration: none;
                              display: inline-block;
                              font-size: 14px;
                              margin: 4px 2px;
                              cursor: pointer;
                            }
                          </style>
                            <a href="{% url 'edit_timecard' r.id %}" class="link_button">{% trans "Update Information" %}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <script>
   $(document).ready(function (){
        var table = $('#dataTable').DataTable({
            aoColumnDefs: [
                {"aTargets": [0], "bSortable": true},
                {"aTargets": [2], "asSorting": ["asc"], "bSortable": true},
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
            }
        })

   }
            );    
    </script>
    
</main>
{% endblock %}
