{% extends 'home/main.html' %}
{% load i18n %}
{% block content %}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">{% trans "Acknowledge Message" %}</h1>
<!--        {{ name }} {{ now }} {{ current }} {{ user.id }}-->


<div class="card mb-4">
    <div class="container-fluid">
        <strong>{% trans "User" %} {{ message_to_ack.user }} {% trans "says" %} </strong>
        <p>{{ message_to_ack.message }} </p>

    </div>
        <div class="container-fluid">

            
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <strong> {% trans "Reply" %} </strong>
                    <textarea class="form-control"  rows="3" name="ack_message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">{% trans "Send" %}</button>
            </form>
        <br>
        </div>
       

</div>
</div>
</main>
{% endblock %}


