{% extends 'home/main.html' %}
{% load i18n %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">{% trans "Message" %}</h1>
<!--        {{ name }} {{ now }} {{ current }} {{ user.id }}-->
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlTextarea1">{% trans "Message" %} :</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
                <input type="hidden" name="user" value="{{ user.id }}">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">{% trans "Send" %}</button>
        </form>



        <div>
            <table  class="table table-hover">
                {% for i in message_list %}
                <tr>
                    <td scope="row">{{ i.date_created }}</td>
                    <td>{{ i.message|truncatewords:20 }}</td>
                    <td>{{ i.acknowledge|truncatewords:20 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</main>
{% endblock %}