{% extends 'home/main.html' %}
{% load i18n %}
{% block content %}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">{% trans "Message" %}</h1>

</div>
<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                      <th>{% trans "Date Created" %}</th>
                      <th>{% trans "User" %}</th>
                      <th>{% trans "Message" %}</th>
                      <th>{% trans "Acknowledge" %}</th>
                      <th>{% trans "Actions" %}</th>
                
                    </tr>
                  </thead>
                  <tbody id="myTable">
                    {% for message in messages %}
                    <tr>
                      <td>{{ message.date_created }}</td>
                      <td>{{ message.user  }}</td>
                      <td>{{ message.message|default_if_none:"" }}</td>
                      <td>{{ message.acknowledge|default_if_none:"" }}</td>
                      <td>
                        {% if message.is_acked == True %}
                        <label>{% trans "Message Acknowledged" %}</label>
                        {% endif %}
                        {% if message.is_acked == False %}
                        <style>
                          .link_button {
                            background-color: #1c87c9;
                            border: none;
                            color: white;
                            padding: 10px 17px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 14px;
                            margin: 4px 2px;
                            cursor: pointer;
                          }
                        </style>
                          <a href="{% url 'acknowledge_message' message.id %}" class="link_button">{% trans "Acknowledge Message" %}</a>
                        
                        {% endif %}
                      </td>
                    </tr>
                
                
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
</div>
<script>
  $(document).ready(function (){
       var table = $('#dataTable').DataTable({
           aoColumnDefs: [
               {"aTargets": [0], "bSortable": true},
               {"aTargets": [2], "asSorting": ["asc"], "bSortable": true},
           ],
           "language": {
               "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
           }
       })

  }
           );    
   </script>
</main>
{% endblock %}


